html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

main, #messages-card {
    height: 100%;
    padding-bottom: 0;
}

#messages-card-container {
    height: calc(100% - 50px);
    padding-bottom: 0;
}

#messages-card {
    margin-top: 8px;
    padding-top: 7px;
    width: 100%;
}

.mdl-layout__header .mdl-grid {
    padding: 0;
}

.mdl-layout__header-row span {
    margin-left: 15px;
    margin-top: 17px;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.material-icons {
    font-size: 36px !important;
    top: 8px;
    position: relative;
}

.mdl-layout__header-row {
    padding: 0;
    margin: 0 auto;
}

.mdl-card__supporting-text {
    width: auto;
    height: 100%;
    padding-top: 0;
}

#messages {
    overflow-y: auto;
    margin-bottom: 10px;
    height: calc(100% - 90px);
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
}

#message-filler {
    flex-grow: 1;
}

.message-container {
    &:first-of-type {
        border-top-width: 0;
    }
    display: block;
    margin-top: 10px;
    border-top: 1px solid #f3f3f3;
    padding-top: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.visible {
        opacity: 1;
    }
    .pic {
        display: none;
        background: url('../images/profile_placeholder.png') no-repeat;
        width: 30px;
        height: 30px;
        background-size: 30px;
        border-radius: 20px;
    }
    .spacing {
        display: table-cell;
        vertical-align: top;
    }

    //noinspection CssInvalidPropertyValue
    .message {
        display: table-cell;
        width: calc(100% - 40px);
        padding: 5px 10px;
        word-break: break-word;
        * {
            margin: 0;
            padding: 0;
        }
        h1, h2 {
            font-size: 34px;
            line-height: 40px;
        }
        p {
            display: inline;
        }
    }

    .name {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 10px;
        color: #bbb;
        font-style: italic;
        font-size: 12px;
    }
    .time {
        float: right;
        font-weight: 300;
        font-size: 12px;
        padding-right: 16px;
        text-align: right;
    }
}

#message-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    float: left;

    .mdl-textfield {
        width: calc(100% - 100px);
    }
    button {
        width: 100px;
        margin: 15px 0 0 10px;
    }
}

.mdl-card {
    min-height: 0;
    background: linear-gradient(white, #f9f9f9);
    justify-content: space-between;
}

#user-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 14px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    justify-content: flex-end;
    padding-right: 10px;
    #user-pic {
        top: -3px;
        position: relative;
        display: inline-block;
        background: url('../images/profile_placeholder.png') no-repeat;
        width: 40px;
        height: 40px;
        background-size: 40px;
        border-radius: 20px;
    }
    #user-name {
        font-size: 16px;
        line-height: 36px;
        padding-right: 10px;
        padding-left: 20px;
    }
}

.message img {
    max-width: 300px;
    max-height: 200px;
}

@media screen and (max-width: 479px) {
    #messages-card-container, #messages-card {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mdl-card__supporting-text {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 610px) {
    header.mdl-layout__header {
        // To keep the user-container stuck to the bottom
        margin-bottom: 38px;
    }
    #user-container {
        top: 56px;
        background-color: #039be5;
        height: 38px;
        #user-pic {
            width: 33px;
            height: 33px;
            background-size: 33px;
        }
    }
    #messages-card .mdl-card__supporting-text {
        padding-left: 0;
        padding-right: 0;
    }
    #message-form {
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }
}

.mdl-textfield__label:after {
    background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
}

.mdl-button .material-icons {
    top: -1px;
    margin-right: 5px;
}

header h3 a {
    z-index: 2147483647;
    text-decoration: none;
    color: inherit;
}
